<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4 card-pic">
        <img src="" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <div class="group-card-elements">
                <h5 class="card-title">$5</h5>
                <h5 class="card-title">Quantity: 15</h5>      
            </div>
                <h4 class="card-title">Title</h4>
            <p class="card-text">Description: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="group-card-elements">
            <p class="card-text"><small class="text-muted">Location</small></p>
            <p class="card-text"><small class="text-muted">Date posted</small></p>
            </div>
        </div>
        </div>
    </div>
</div>
