<div class="dashboard-container">
    <div class="profile">
        <img src="woman-profile.PNG">
        <div class="profile-info">
            <h3>{{username}}</h3>
            <h3>{{location}}</h3>    
        </div>
    </div>
    <div class="items">
        <h2>Bounty</h2>
        {{#each user.item as |item|}}
        {{>card}}
        {{/each}}
    </div>
</div>
