<div class="dashboard-container">
    <div class="profile">
        <img id="profile-img" src="/images/UserProfile-1.PNG">
        <div class="profile-info">
            <h3 id="dashboard-username">{{items.0.user.username}}</h3>
            <h3 id="dashboard-location">{{items.0.user.location}}</h3>
            <button id="edit-profile" type="button" class="btn">Edit Profile</button>           
        </div>
    </div>
    <div>
        <div class="dashboard-header">
            <button id="add-item" type="button" class="btn">Add Item</button>   
            <h2>Your Bounty</h2>
        </div>

        <div class="items h-100">
            {{#each items as |item|}}
                {{>card}}
            {{/each}}
</div>
        </div>
    </div>
</div>

<div id="id03" class="modal">
    <form
    id="create-edit-form"
    class="modal-content animate newItemForm"
    action="/action_page.php"
    method="post"
    >
    <div class="imgcontainer">
        <span
        onclick="document.getElementById('id03').style.display='none'"
        class="close"
        title="Close Modal"
        >&times;</span
        >
        <img src="/images/bountiful.logo.drafts.png" alt="bountiful logo" class="avatar" />
    </div>

    <div class="container">
        <label for="item-title"><b>Title</b></label>
        <input
        id="item-title"
        type="text"
        placeholder="Enter the title of your post"
        name="title"
        required
        />

        <label for="item-name"><b>Item Name</b></label>
        <input
        id="item-name"
        type="text"
        placeholder="Enter Item's Name"
        name="itemName"
        required
        />

        <label for="item-description"><b>Description</b></label>
        <input
        id="item-description"
        type="text"
        placeholder="Enter a description of the item"
        name="description"
        required
        />

        <label for="item-unit"><b>Item Unit</b></label>
        <input
        id="item-unit"
        type="text"
        placeholder="Enter the units of the item (ex: pounds, ounces, single units)"
        name="unit"
        required
        />

        <label for="item-quantity"><b>Quantity</b></label>
        <input
        id="item-quantity"
        type="text"
        placeholder="Enter how many units are you selling"
        name="quantity"
        required
        />

        <label for="item-price"><b>Price per Unit</b></label>
        <input
        id="item-price"
        type="text"
        placeholder="Enter the price per unit"
        name="price"
        required
        />

        <div>
            <label for="item-categories"><b>Categories</b></label>
            <select id="item-categories" name="category">
                <option value="fruits" data-id="1">Fruits</option>
                <option value="vegetables"data-id="2">Vegetables</option>
                <option value="herbs" data-id="3">Herbs</option>
                <option value="dairy" data-id="4">Dairy</option>
                <option value="flowers" data-id="5">Flowers</option>
            </select>
        </div>


            <!-- REMEMBER ME BUTTON -->  
            <!-- <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
            </label>-->
        </div>
        <button
            id="create-edit-btn"
            type="submit"
            onclick="document.getElementById('id03').style.display='none'"
            class="submitbtn">
            Post Item
        </button>
        <!-- FORGOT PASSWORD LINK -->
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
    </form>

<script>
var modal3 = document.getElementById("id03");
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal3) {
          modal3.style.display = "none";
        }
      };
</script>
<script src="/js/editprofile.js"></script>
<script src="/js/newItem.js"></script>
<script src="/js/editItem.js"></script>
