<div class="dashboard-container">
    <div class="profile">
        <img id="profile-img" src="/images/UserProfile-1.PNG">
        <div class="profile-info">
         
            <h6 id="dashboard-username">{{userInfo.username}}</h6>
            <h6 id="dashboard-location">{{userInfo.location}}</h6>
       
            <button id="edit-profile" type="button" class="btn" data-id="{{userInfo.id}}">Edit Profile</button>           
        </div>
    </div>
    <div class = "your-bounty">
        <div class="dashboard-header">
            <button id="add-item" type="button" class="btn">Add Item</button>   
            <h2>Your Bounty</h2>
        </div>

        <div class="items">
            {{!-- {{#each items as |item|}}
                {{>card}}
            {{/each}} --}}
                            <div class="card mb-3 item-card" style="max-width: 700px;">
                    <div class="row g-0">
                        <div class="col-md-4 card-pic">
                            <div class="item-buttons">
                            </div>
                            <img src="/images/b-logo.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-title">
                                <h2 class="item-title"><strong>Cherry Tomato's For Sale</strong> </h2>
                            </div>
                            <div class="card-body">
                                <h5 class="card-text">Item Name: Tomato</h5>
                                <h5 class="card-text">Category: Vegetables</h5>
    
                                    <h5 class="card-text">Price: $ 5 / lb</h5>
                                    <h5 class="card-text">Quantity: 10</h5>
                                    <!-- <h5 class="card-body">$5/lb</h5>
                                    <h5 class="card-body">Quantity: 10</h5> -->
                                    
                                    <h5 class="card-text">Description: Juicy tomatos ready to be eaten.</h5>
                                    <p class="card-text"><small class="text-muted">Date created: 7/7/2021</small></p>
                                    <div class="center-btns">
                                        <button id="edit-item" type="button" class="btn item-btn">Edit</button>   
                                        <button id="delete-item" type="button" class="btn item-btn">Delete</button>           
                                    </div>
                
    
                            </div>
                            <!-- <div class="group-card-elements">
                            <p class="card-text"><small class="text-muted">Downtown</small></p>
                            <p class="card-text"><small class="text-muted">7/7/2021</small></p>
                            </div> -->

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div id="id03" class="modal">
    <form
    id="create-edit-form"
    class="modal-content animate newItemForm"
    action="/action_page.php"
    method="post"
    >
    <div class="imgcontainer">
        <span
        onclick="document.getElementById('id03').style.display='none'"
        class="close"
        title="Close Modal"
        >&times;</span
        >
        <img src="/images/b-logo.png" alt="bountiful logo" class="avatar b-logo" />
    </div>

    <div class="container">
        <label for="item-title"><b>Title</b></label>
        <input
        id="item-title"
        type="text"
        placeholder="Enter the title of your post"
        name="title"
        required
        />

        <label for="item-name"><b>Item Name</b></label>
        <input
        id="item-name"
        type="text"
        placeholder="Enter Item's Name"
        name="itemName"
        required
        />

        <label for="item-description"><b>Description</b></label>
        <input
        id="item-description"
        type="text"
        placeholder="Enter a description of the item"
        name="description"
        required
        />

        <label for="item-unit"><b>Item Unit</b></label>
        <input
        id="item-unit"
        type="text"
        placeholder="Enter the units of the item (ex: pounds, ounces, single units)"
        name="unit"
        required
        />

        <label for="item-quantity"><b>Quantity</b></label>
        <input
        id="item-quantity"
        type="text"
        placeholder="Enter how many units are you selling"
        name="quantity"
        required
        />

        <label for="item-price"><b>Price per Unit</b></label>
        <input
        id="item-price"
        type="text"
        placeholder="Enter the price per unit"
        name="price"
        required
        />

        <div>
            <label for="item-categories"><b>Categories</b></label>
            <select id="item-categories" name="category">
                <option value="fruits" data-id="1">Fruits</option>
                <option value="vegetables"data-id="2">Vegetables</option>
                <option value="herbs" data-id="3">Herbs</option>
                <option value="dairy" data-id="4">Dairy</option>
                <option value="flowers" data-id="5">Flowers</option>
            </select>
        </div>


            <!-- REMEMBER ME BUTTON -->  
            <!-- <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
            </label>-->
        </div>
        <button
            id="create-edit-btn"
            type="submit"
            onclick="document.getElementById('id03').style.display='none'"
            class="submitbtn">
            Post Item
        </button>
        <!-- FORGOT PASSWORD LINK -->
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
    </form>

<script>
var modal3 = document.getElementById("id03");
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal3) {
          modal3.style.display = "none";
        }
      };
</script>
<script src="/js/editprofile.js"></script>
<script src="/js/newItem.js"></script>
<script src="/js/editItem.js"></script>
