<div class="dashboard-container">
    <div class="profile">
        <img id="profile-img" src="/images/UserProfile-1.PNG">
        <div class="profile-info">
            <h3 id="dashboard-username">{{items.0.user.username}}</h3>
            <h3 id="dashboard-location">{{items.0.user.location}}</h3>
            <button id="edit-profile" type="button" class="btn">Edit Profile</button>           
        </div>
    </div>
    <div class="items">
        <h2>Bounty</h2>
        {{#each items as |item|}}
        {{>card}}
        {{/each}}
    </div>
</div>
<script src="/js/editprofile.js"></script>
