<div class="content homepage-content">
    <section class="farmers-market">
        <h2>Bringing the Farmer's Market to You</h2>
        <p>Our mission is to connect you to ....</p>
    </section>
    <section class="power-produce">
        <h2>Power to the Produce</h2>
        <p>Add content about produc</p>
    </section>
</div>
