<div class="content homepage-content">
    <section class="hp-section">
        <h2 class="homepage-title">Bringing the Farmer's Market to You</h2>
        <div class="homepage-content-div-1">
            <p class="homepage-pg">Our mission is to connect you to ....</p>
            <img id="farmer-market" src="/images/farmers-market2.jpg">
       </div>
    </section>
    <section class="hp-section">
        <h2 class="homepage-title">Power to the Produce</h2>
        <div class="homepage-content-div-2">
            <p class="homepage-pg">Add content about produc</p>
            <div class="hp-pics-div">
                <img class="veg-pics" src="/images/veg-box-frontview.jpg">
                <img class="veg-pics" src="/images/close-up-woman-harvesting-garden.jpg">
                <img class="veg-pics" src="/images/vegetable-basket.jpg">
            </div>
    </section>
</div>

<div id="id02" class="modal">
    <form
    class="modal-content animate"
    action="/action_page.php"
    method="post"
    >
    <div class="imgcontainer">
        <span
        onclick="document.getElementById('id02').style.display='none'"
        class="close"
        title="Close Modal"
        >&times;</span
        >
        <img src="/images/bountiful.logo.drafts.png" alt="bountiful logo" class="avatar" />
    </div>

    <div class="container">
        <label for="firstname-signup"><b>First Name</b></label>
        <input
        type="text"
        placeholder="Enter First Name"
        name="firstname"
        required
        />

        <label for="lastname-signup"><b>Last Name</b></label>
        <input
        type="text"
        placeholder="Enter Last Name"
        name="lastname"
        required
        />

        <label for="username-signup"><b>Username</b></label>
        <input
        type="text"
        placeholder="Enter Username"
        name="username"
        required
        />

        <label for="psw"><b>Password</b></label>
        <input
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
        />

        <div>
        <label for="locations"><b>Locations</b></label>
        <select name="locations" id="location-signup">
            <option value="downtown">Downtown</option>
            <option value="westSac">West Sacramento</option>
            <option value="eastSac">East Sacramento</option>
            <option value="landPark">Land Park</option>
        </select>
        </div>


        <!-- REMEMBER ME BUTTON -->  
        <!-- <button type="submit">Login</button>
        <label>
        <input type="checkbox" checked="checked" name="remember" /> Remember
        me
        </label>
    </div> -->

    <div class="container" style="background-color: var(--gray)">
        <button
        type="button"
        onclick="document.getElementById('id02').style.display='none'"
        class="submitbtn"
    >
        Sign-up
    </button>
        <!-- FORGOT PASSWORD LINK -->
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
    </form>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("id02");

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    };
</script>
