<div class="content homepage-content">
    <section class="hp-section">
        <h2 class="homepage-title">Bringing the Farmer's Market to You</h2>
        <div class="homepage-content-div-1">
            <p class="homepage-pg">Our mission is to connect you to ....</p>
            <img id="farmer-market" src="/images/farmers-market2.jpg">
       </div>
    </section>
    <section class="hp-section">
        <h2 class="homepage-title">Power to the Produce</h2>
        <div class="homepage-content-div-2">
            <p class="homepage-pg">Add content about produc</p>
            <div class="hp-pics-div">
                <img class="veg-pics" src="/images/veg-box-frontview.jpg">
                <img class="veg-pics" src="/images/close-up-woman-harvesting-garden.jpg">
                <img class="veg-pics" src="/images/vegetable-basket.jpg">
            </div>
    </section>
</div>
