<div class="content homepage-content">
    <section class="hp-section">
        <h2 class="homepage-title">Bringing the Farmer's Market to You</h2>
        <div class="homepage-content-div-1">
            <p class="homepage-pg">Our mission is to connect you to ....Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam ut venenatis tellus in metus vulputate eu scelerisque. Nisi lacus sed viverra tellus. A diam maecenas sed enim ut sem viverra aliquet eget. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Aenean sed adipiscing diam donec. Arcu cursus euismod quis viverra nibh cras pulvinar. Ut tellus elementum sagittis vitae. Netus et malesuada fames ac turpis egestas. Ornare quam viverra orci sagittis eu volutpat. Hac habitasse platea dictumst quisque. Ultricies integer quis auctor elit sed vulputate mi sit amet. Facilisi morbi tempus iaculis urna id volutpat lacus. In fermentum posuere urna nec tincidunt praesent semper feugiat. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Libero id faucibus nisl tincidunt eget nullam. Vitae elementum curabitur vitae nunc sed. Id diam maecenas ultricies mi eget mauris pharetra.</p>
            <img id="farmer-market" src="/images/farmers-market2.jpg">
       </div>
    </section>
    <section class="hp-section section-2">
        <h2 class="homepage-title">Power to the Produce</h2>
        <div class="homepage-content-div-2">
            <p class="homepage-pg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam ut venenatis tellus in metus vulputate eu scelerisque. Nisi lacus sed viverra tellus. A diam maecenas sed enim ut sem viverra aliquet eget. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Aenean sed adipiscing diam donec. Arcu cursus euismod quis viverra nibh cras pulvinar. Ut tellus elementum sagittis vitae. Netus et malesuada fames ac turpis egestas. Ornare quam viverra orci sagittis eu volutpat. Hac habitasse platea dictumst quisque. Ultricies integer quis auctor elit sed vulputate mi sit amet. Facilisi morbi tempus iaculis urna id volutpat lacus. In fermentum posuere urna nec tincidunt praesent semper feugiat. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Libero id faucibus nisl tincidunt eget nullam. Vitae elementum curabitur vitae nunc sed. Id diam maecenas ultricies mi eget mauris pharetra.</p>
            <div class="hp-pics-div">
                <img class="veg-pics" src="/images/veg-box-frontview.jpg">
                <img class="veg-pics" src="/images/close-up-woman-harvesting-garden.jpg">
                <img class="veg-pics" src="/images/vegetable-basket.jpg">
            </div>
    </section>
</div>

{{!-- SIGN UP MODAL --}}
<div id="id02" class="modal">
    <form
    class="modal-content animate signup-form"
    action="/action_page.php"
    method="post"
    >
    <div class="imgcontainer">
        <span
        onclick="document.getElementById('id02').style.display='none'"
        class="close"
        title="Close Modal"
        >&times;</span
        >
        <img src="/images/b-logo.png" alt="bountiful logo" class="avatar" />
    </div>

    <div class="container">
        <label for="firstname-signup"><b>First Name</b></label>
        <input
        id="firstname-signup"
        type="text"
        placeholder="Enter First Name"
        name="firstname"
        required
        />

        <label for="lastname-signup"><b>Last Name</b></label>
        <input
        id="lastname-signup"
        type="text"
        placeholder="Enter Last Name"
        name="lastname"
        required
        />

        <label for="username-signup"><b>Username</b></label>
        <input
        id="username-signup"
        type="text"
        placeholder="Enter Username"
        name="username"
        required
        />

        <label for="email-signup"><b>Email</b></label>
        <input
        id="email-signup"
        type="text"
        placeholder="Enter Email"
        name="email"
        required
        />

        <label for="password-signup"><b>Password</b></label>
        <input
        id="password-signup"
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
        />

        <div>
            <label for="location-signup"><b>Locations</b></label>
            <select id="location-signup" name="locations" id="location-signup">
                <option value="Downtown Sacramento">Downtown Sacramento</option>
                <option value="West Sacramento">West Sacramento</option>
                <option value="East Sacramento">East Sacramento</option>
                <option value="North Sacramento">North Sacramento</option>
                <option value="South Sacramento">South Sacramento</option>
            </select>
        </div>


        <!-- REMEMBER ME BUTTON -->  
        <!-- <button type="submit">Login</button>
        <label>
        <input type="checkbox" checked="checked" name="remember" /> Remember
        me
        </label>-->
    </div> 

    <div class="container" style="background-color: var(--gray)">
        <button
        type="submit"
        onclick="document.getElementById('id02').style.display='none'"
        class="submitbtn"
    >
        Sign-up
    </button>
        <!-- FORGOT PASSWORD LINK -->
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
    </div>
    </form>
</div>

{{!-- LOGIN MODAL --}}
<div id="id01" class="modal">
      <form
        class="modal-content animate login-form"
        action="/action_page.php"
        method="post"
      >
        <div class="imgcontainer">
          <span
            onclick="document.getElementById('id01').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
          <img src="/images/b-logo.png" alt="bountiful logo" class="avatar" />
        </div>
        <div class="container">
          <label for="emailLogin"><b>Email Address</b></label>
          <input
            id = "email-login"
            type="text"
            placeholder="Enter Email Address"
            name="uname"
            required
          />
          <label for="psw"><b>Password</b></label>
          <input
            id = "password-login"
            type="password"
            placeholder="Enter Password"
            name="psw"
            required
          />
          <!-- REMEMBER ME BUTTON -->  
          <!-- <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
          </label>-->
        </div> 
        <div class="container" style="background-color: var(--gray)">
          <button
          type="submit"
          onclick="document.getElementById('id01').style.display='none'"
          class="submitbtn"
        >
          Login
        </button>
          <!-- FORGOT PASSWORD LINK -->
          <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        </div>
      </form>
</div>

<script>
    // Get the modal
    var modal1 = document.getElementById("id02");

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
    if (event.target == modal1) {
        modal1.style.display = "none";
    }
    };

    var modal2 = document.getElementById("id01");
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal2) {
          modal2.style.display = "none";
        }
      };
</script>
<script src="/js/signuplogin.js"></script>

