/* **HOMEPAGE** */

.navbar-inner {
    background: transparent;
}

.nav-color .nav-link {
    color: whitesmoke;
    font-size: 1.75rem;
}

.navbar-brand {
    color: teal;
    font-size: 2.25rem;
    font-weight: 600;
}

a:hover, .navbar-brand:hover {
    text-decoration: none;
}

.navbar-brand:hover {
    color:darkolivegreen
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/different-vegetables-textile-bag-grey.jpg);
    background-size: cover;
}

.content {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 200px;
}